[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=animationimporter
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Animator Video Reference
Comment=Reference video for animation and import a video into Krita
